<html>
	<head>
		<title>Great app!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="inputs" id="glucose-inputs">
			<div><input type="number" placeholder="mg/dL"></div>
			<button type="button">Add Glucose Reading</button>
		</div>
		<div class="inputs" id="fastinsulin-inputs">
			<div><input type="number" placeholder="Units"></div>
			<button type="button">Add Fast Insulin</button>
		</div>
		<div class="inputs" id="basilinsulin-inputs">
			<div><input type="number" placeholder="Units"></div>
			<button type="button">Add Basil Insulin</button>
		</div>
		<div class="inputs" id="meal-inputs">
			<div><input type="number" placeholder="Carb"></div>
			<div><input type="text" placeholder="Description"></div>
			<button type="button">Add Meal</button>
		</div>

		<script src="app.js"></script>
	</body>
</html>