<html>
	<head>
		<title>Yadaa: Analytics for Diabetics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/manifest/app-icon-180.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/staticmanifest/app-icon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/manifest/app-icon-16.png">
		<link rel="manifest" href="/static/manifest/site.webmanifest">
		{{!-- <link rel="shortcut icon" href="/static/manifest/favicon.ico"> --}}
	</head>
	<body>
		<div class="inputs" id="glucose-inputs">
			<div><input type="number" placeholder="mg/dL"></div>
			<button type="button">Add Glucose Reading</button>
		</div>
		<div class="inputs" id="fastinsulin-inputs">
			<div><input type="number" placeholder="Units"></div>
			<button type="button">Add Fast Insulin</button>
		</div>
		<div class="inputs" id="basilinsulin-inputs">
			<div><input type="number" placeholder="Units"></div>
			<button type="button">Add Basil Insulin</button>
		</div>
		<div class="inputs" id="meal-inputs">
			<div><input type="number" placeholder="Carb"></div>
			<div><input type="text" placeholder="Description"></div>
			<button type="button">Add Meal</button>
		</div>

		<script src="/static/app.js"></script>
	</body>
</html>